/* body */
body {
  color: #434455;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
/* logotype */
a .logo {
  color: #2e2f42;
}
.logotype {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
}
/* navigation */
ul .nav-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}
ul .nav-menu-link:hover,
.nav-menu-link:active {
  color: #404bbf;
}
.contact-list {
  font-style: normal;
}
ul .contact-list-mailto {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}
ul .contact-list-mailto:hover,
.contact-list-mailto:active {
  color: #404bbf;
}

/* section 1-Hero-image, button */
.button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
}
.button:hover {
  color: #404bbf;
}
.hero-image {
  background-color: #2e2f42;
}
.hero-text {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
}
/* section 2-Advantages */
.Advantages {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}
.Advantages-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}
/* section 3-Team */
.team-section {
  background-color: #f4f4fd;
}
.team {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
}
.members {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
}
.members-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
}
/* section 4-portfolio */
.portfolio-section {
}
.portfolio-main {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
}
.porfolio-project {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}
.porfolio-project-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}
/* footer */
.footer {
  background-color: #2e2f42;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}
.logo-footer {
  color: #f4f4fd;
}
